:root {
    --green: hsl(171, 66%, 44%);
    --blue: hsl(233, 100%, 69%);
    --grey-700: hsl(210, 10%, 33%);
    --grey-500: hsl(201, 11%, 66%);
    --fw-400: 400;
    --fw-600: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    font-size: 1.1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 2rem;
    padding: 3rem;
}

header > h1 {
    line-height: 3.125rem;
    color: var(--grey-700);
    font-weight: var(--fw-600);
    font-size: 2.75rem;
}

header > p {
    color: var(--grey-500);
    font-weight: var(--fw-400);
    text-align: center;
    max-width: 54ch;
    line-height: 1.5rem;
}

header > .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button {
    padding: .75rem 1.5rem;
    border: 1px solid;
    border-radius: 1000px;
    cursor: pointer;
}

button.ios-download {
    border-color: rgb(38, 186, 164);
}

button.mac-download {
    border-color: rgb(97, 115, 255);
}

button.ios-download:hover,
button.ios-download:focus-visible {
    background-image: linear-gradient(to right, rgb(38, 186, 164), rgb(59, 220, 19));
    background-repeat: no-repeat;
    color: #fff;
    transition: all 150ms ease-in-out;
}

button.mac-download:hover,
button.mac-download:focus-visible {
    background-image: linear-gradient(to right, rgb(24, 129, 214), rgb(125, 55, 255));
    background-repeat: no-repeat;
    color: #fff;
    transition: all 150ms ease-in-out;
}

section {
    margin-top: 5rem;
    /* min-height: 100%; */
}

section h2 {
    font-weight: var(--fw-600);
    color: var(--grey-700);
    font-size: 2rem;
}

section h3 {
    color: var(--grey-700);
    font-weight: var(--fw-600);
    font-size: 1.5rem;
    line-height: 2.5rem;
}

section p {
    font-weight: var(--fw-400);
    color: var(--grey-500);
    line-height: 2rem;
    margin-bottom: 2rem;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

section.tracking p:not(.h3-p-text p),
section.tracking h2 {
    text-align: center;
}

.group-tracking {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 5rem;
}

.group-tracking img {
    justify-content: start;
    gap: 2rem;
}

.group-tracking h3, p {
    max-width: 55ch;
}

section.clipboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    margin-top: 8rem;
}

section.clipboard p:not(.h3-p-text p),
section.clipboard h2 {
    text-align: center;
}

section.clipboard img {
    max-width: 45%;
}

section.workflow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.group-flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.group-flex-row p {
    text-align: center;
    max-width: 40ch;
}

article {
    padding: 10rem;
}

.logo-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

section.cb-reminder {
    padding-bottom: 5rem;
}

section.cb-reminder .group {
    gap: 1rem;
}

section.cb-reminder .group > p {
    margin: 0;
}

section.cb-reminder .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

footer.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    min-height: 8rem;
    background-color: rgba(189, 188, 188, .25);
    min-width: 100%;
    padding: 2rem;
}

.main-footer img {
    max-width: 50px;
}

footer.main-footer a {
    text-decoration: none;
    color: var(--grey-500);
}

footer.main-footer a:hover,
footer.main-footer a:focus-visible {
    color: var(--grey-700);
}

.group-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: inherit;
}

.socials {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (width < 1074px) {
    section {
        flex-direction: column;
        max-width: inherit;
        padding: 0 2rem;
    }

    /* .group-tracking img {
        max-width: 85%;
    } */

    section.tracking img,
    section.clipboard img {
        max-width: 85%;
    }

    .group-tracking {
        flex-direction: column;
    }

    article img {
        min-width: 150px;
    }

    @media (width < 739px) {
        .group-flex-row {
            flex-direction: column;
        }

        .main-footer {
            flex-direction: column;
        }

        .group-links {
            grid-template-columns: 1fr;
            gap: 2rem;
        }


    }

    @media (width < 610px) {
        header {
            background-image: url('./images/bg-header-mobile.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .group-flex-row {
            flex-direction: column;
        }

        section {
            text-align: center;
        }
    }
}